:root {
  --white: hsl(0, 0%, 97%);
  --black: hsl(0, 0%, 5%);
  font-family: Roboto, sans-serif;
  font-size: calc(14px + 0.3vw);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(14px + 0.5vw);
  min-height: 100vh;
  background-color: var(--white);
  color: var(--black);
}
